<div class="{{ rootElementClass }}" data-options="{{ options|json_encode }}">
    <div class="{{ 'buyNowButton'|bemClass }}">{{ data.trlKwf('Buy now') }}</div>
    <div class="{{ 'process'|bemClass }}"></div>
    <div class="{{ 'error'|bemClass }}"></div>
</div>
